{% extends "base.html"  %}
{% load static %}
{% block content %}

<body>
    <header class="site-header sticky-top py-1 border-bottom shadow-sm p-2 mb-4 bg-light rounded">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="#" aria-label="Product">
                
                <i class="fa-solid fa-earth-africa h3" style="color: #2a9d8f;"></i>
            </a>
            <a class="py-2 d-block btn d-md-inline-block" href="#" style="color: #2a9d8f;">Posts</a>
            <form class="form-inline my-2 my-lg-0 py-2 d-block d-md-inline-block" action="/search">
                <div class="input-group">
                    <input name="query" type="text" class="" placeholder="Search post,business,amenity..." />
                    <div class="input-group-append">
                        <button class="btn btn-dark btn-sm" type="submit" id="button-addon2">Search</button>
                    </div>
                </div>
            </form>
            <a class="py-2 d-block btn d-md-inline-block" href="#" style="color: #2a9d8f;">Businesses</a>
            <a class="py-2 d-block btn d-md-inline-block" href="#" style="color: #2a9d8f;">Social Amenities</a>

            
        </nav>
    </header>

</body>

</html>
{% endblock content %}