{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>{{ title }}</title>
    {% endif %}
    {% block styles %}

    {% bootstrap_css %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% url 'static' home.css %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    {% endblock %}
</body>
</html>